*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
    h1{
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
}

#sports{
    background-color: rgba(0, 255, 0, 0.3);
}

#economy{
    background-color: #A38C32;
}

.creation-date{
    color: #121212;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}