label{
    color: rgb(125, 19, 151);
}

body{
    background-color: rgb(188, 56, 56);
}
botao{
    background-color: rgb(166, 112, 18);
}
button{
    color: rgb(168, 29, 126);
}
h1{
    color: rgb(0, 65, 44);
}